QPushButton {
    background-color: black;
    color: white;
    border-style: outset;
    border-width: 3px;
    border-radius: 10px;
    border-color: blue;
    padding: 3px;
}
QPushButton:pressed {
    background-color: rgb(224, 224,224);
}
